// Las variables se usan si se repiten mas de 2 veces
$global: Arial !default;
$font-size: 1.6rem !default;
$color: #fff !default;
$color-primary: #a692e2 !default;
$color-secondary: #f5f5f5 !default;
$color-tertiary: #f5f5f5 !default;
$color-quaternary: #f5f5f5 !default;
$color-quinary: #f5f5f5 !default;
$color-senary: #f5f5f5 !default;
$color-septenary: #f5f5f5 !default;