/*
Rosa: #C6426E
Morado: #642B73
Negro: #999
Gris: #f5f5f5

*/

.container {
background: #5614B0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.red {
    height: 200px;
    width: 100px;
    background-color: rgb;
}
#boton-pago{
    background-color: yellow;
}
td{
    border: 1px solid;
}