* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
ul {
  list-style: none;
}
li {
  font-size: 16px;
}
button {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #00000080;
  background-color: #39816b;
  color: white;
}
button:hover {
  background-color: #234d24;
}

/* empezamos */

/* ancho máximo de la web y sin margen */
.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* Cabecera y menu */

header {
  background-color: #39816b;
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: white;
  font-size: 28px;
  text-shadow: 5px 5px 10px #00000080;
  text-transform: uppercase;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #ffe711bd;
}

header a:hover {
  color: #b1a111bd;
}

/* Banner principal y bienvenida */

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 40vh;
  background-image: linear-gradient(0deg, #00000080, #00000080),
    url("./assets/images/bannertop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top: solid 4px #ffe711bd;
  border-bottom: solid 4px #667080;
}

#banner h1 {
  color: white;
  text-shadow: 5px 5px 10px #00000080;
  font-size: 3vw;
}

#banner button {
  font-size: 1vw;
}

/* Primera sección */

#quienes-somos {
  background-color: #39816b27;
}

#quienes-somos .container {
  padding: 60px;
  line-height: 30px;
}

#quienes-somos ul {
  list-style: disc;
}

#quienes-somos .video {
  max-width: 450px;
  width: 50vw;
  height: 250px;
  margin-right: 60px;
  border: solid 2px #667080;
}

/* Segunda sección */

#galeria {
  background-color: #c2c2c249;
}

#galeria .container {
  padding: 60px;
  line-height: 30px;
}

#galeria img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin: 2px;
}

/* Tercera sección */

#ubi-contact {
  background-color: #39816b27;
}

#ubi-contact .container {
  padding: 60px;
  line-height: 30px;
}

#ubi-contact iframe {
  max-width: 450px;
  width: 50vw;
  height: 250px;
  margin-right: 60px;
  border: solid 2px #667080;
}

/* Pie de pagina y final */

#footer {
  background-color: #c4c4c4;
  border-top: solid 4px #667080;
}

#footer .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
}

#footer .barra-suscriptions {
  border: solid 3px #667080;
  max-width: 600px;
  width: 50vw;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 50px;
}

#footer img {
  padding-right: 5px;
  padding-bottom: 20px;
  width: 48px;
  margin: 0px;
}

/* Pagina de reservas */

/* Pagina de eventos */

#eventos h2 {
  text-align: center;
}

#eventos .container {
  padding: 60px;
  line-height: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#eventos .container div:nth-child(odd) {
  background: #39816b27;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

#eventos .container div:nth-child(even) {
  background: #c2c2c249;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

#eventos img {
  width: 35vw;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
}

/* Pagina de cabañas */

#cabanas h2 {
  text-align: center;
}

#cabanas p {
  text-align: center;
}

#cabanas img {
  width: 35vw;
  max-height: 400px;
  max-width: 450px;
  border-radius: 10px;
}

#cabanas .container {
  padding: 60px;
  line-height: 30px;
}

#cabanas .equipamientos {
  display: grid;
  background-color: #39816b27;
  border-radius: 10px;
  padding: 60px;
  grid-template-areas:
    "equipamiento1 texto1"
    "texto2 equipamiento2"
    "equipamiento3 texto3"
    "texto4 equipamiento4"
    "equipamiento5 texto5";
  grid-gap: 25px;

  align-items: center;
  text-align: start;
}

.equipamiento1 {
  grid-area: equipamiento1;
}

.equipamiento2 {
  grid-area: equipamiento2;
}

.equipamiento3 {
  grid-area: equipamiento3;
}

.equipamiento4 {
  grid-area: equipamiento4;
}

.equipamiento5 {
  grid-area: equipamiento5;
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

.texto3 {
  grid-area: texto3;
}

.texto4 {
  grid-area: texto4;
}
.texto5 {
  grid-area: texto5;
}

/* Pagina de registro */

#register .container {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px 300px;
}

#register .container form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#register .container img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 10px;
}
