* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif, "Roboto";
}

.container {
  background: #ece7e7;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1200px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 10px 01px;
  position: relative;
}

/* Quitar linea inferior a los links */
a {
  text-decoration: none;
  color: #000000;
}

/* Banner superior y titulo */
.home-header {
  background-image: url(./assets/images/bannertop.jpg);
  background-size: cover;
  padding: 100px;
  background-repeat: no-repeat;
}

h1 {
  color: #ffffff;
  font-size: 50px;
  text-shadow: 2px 2px 15px #000000;
  text-transform: uppercase;
  /* Deja todos los títulos en mayúsculas */
}

/* menu */

.menu {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background: #c4c4c4;
  width: 100%;
  z-index: 10;
}

nav {
  float: left;
  /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #000000;
  text-decoration: none;
}

nav ul li:hover {
  background: #6e6e6e;
}

.active {
  /* Cambia el color del la sección activa en el menu y coloca una barra inferior */
  background-color: #8b8b8b;
  border-bottom: 5px solid #667080;
}

/* main de quienes somos + video */

.home-aboutus {
  z-index: 1;
  width: 100%;
  height: 400px;
  padding: 60px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Nunito";
}

.home-aboutus h2 {
  margin-bottom: 25px;
  font-size: 30px;
}

.home-aboutus ul {
  margin-left: 50px;
}

.home-aboutus iframe {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  float: right;
  margin-right: 15px;
  border: solid 4px #667080;
}

/* Galería de imágenes futuros efectos*/

.home-gallery {
  z-index: 1;
  font-size: 20px;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  padding: 60px;
  font-family: "Nunito";
}

.home-gallery h2 {
  margin-bottom: 25px;
}

.home-gallery span img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

/* Selector final */

.home-prefooter {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 60px;
}

/* Localización del lugar */

.home-location {
  font-size: 20px;
  line-height: 40px;
  width: 50%;
  display: inline-block;
}

.home-location p {
  font-size: 12px;
}

.home-location iframe {
  width: 500px;
  height: 450px;
  border: solid 4px #667080;
  border-radius: 20px;
}

/* Contacto para que el usuario mande un correo */

.home-contact {
  width: 200px;
  padding-left: 25px;
  line-height: 45px;
  border-left: solid 4px #667080;
}

.home-contact input {
  width: 100%;
  padding: 12px 200px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.home-contact textarea {
  width: 400px;
  height: 200px;
}
/* registros de usuarios nuevos */

.form-register input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-register div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px 250px;
}

#registar {
  width: 20%;
  background-color: #39813b;
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
}

/* Pie de pagina */

.footer {
  background-color: #c4c4c4;
  padding: 60px;
  border-top: solid 4px #667080;
  height: 210px;
}

.footer-suscriptions {
  text-align: center;
  padding-bottom: 80px;
}

.barra-suscriptions {
  border: solid 3px #667080;
  width: 50%;
  height: 30px;
}

.button-suscriptions {
  border: solid 3px #667080;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.footer img {
  float: right;
  padding-right: 5px;
  padding-bottom: 20px;
  width: 48px;
  margin: 0px;
}

.footer p {
  text-align: center;
}
