html {
  font-family: "Nunito", sans-serif, "Roboto";
}

.container {
  background: #ece7e7;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1280px;
  background-color: white;
  box-shadow: 5px 5px 30px 1px;
  position: relative;
}

/* Quitar linea inferior a los links */
a {
  text-decoration: none;
  color: #000000;
}

.home-header {
  background-image: url(./assets/images/bannertop.jpg);
  background-size: cover;
  padding: 100px;
  background-repeat: no-repeat;
}

h1 {
  color: #ffffff;
  font-weight: 800px;
  text-shadow: 1px 2px #999;
  text-transform: uppercase; /* Deja todos los títulos en mayúsculas */
}

.menu {
  background-color: #c4c4c4;
  padding: 5px;
  border-spacing: 20px;
  border-bottom: solid 4px #667080;
  word-spacing: 40px;
  font-family: "Nunito";
}

.menu li {
  display: inline-block; /* dejar las listas en linea*/
  font-size: 20px;
  font-weight: bold;
}

.home-quiensomos {
  padding: 100px;
  font-weight: 400;
  font-size: 25px;
}
.home-quiensomos iframe {
  padding: 0px 0px 0px 500px;
}

.home-galeria {
  padding: 100px;
  font-size: 20px;
}

.home-galeria span img {
  width: 250px;
}

.home-ubicacion {
  padding: 100px;
}

.home-contacto {
  left: 700px;
  bottom: 200px;
  padding-left: 60px;
  border-left: solid 4px #667080;
  position: absolute;
}

.footer {
  background-color: #c4c4c4;
  padding: 50px;
  border-top: solid 4px #667080;
}

.footer-suscriptions {
  text-align: center;
}

.footer-rss {
  text-align: right;
  padding-right: 5px;
}
