/* Configuraciones globales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  text-decoration: underline;
}
h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
p {
  font-size: 1rem;
}
li {
  font-size: 1rem;
}

button {
  background-image: linear-gradient(
    to right,
    #4caf50 0%,
    #08e225 50%,
    #4caf50 100%
  );
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #00000080;
  padding: 0.4rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white;
  box-shadow: 0 0 3px rgb(0, 0, 0);
  border-radius: 0.5rem;
}

button:hover {
  background-position: right center;
  background: #fa0202;
  text-decoration: none;
}

/* contenido de la pagina */
/* ancho máximo de la web y sin margen */
.container {
  max-width: 1440px;
  margin: auto;
}

/* logo y menu */
header {
  background-color: #009687;
  border-bottom: solid 0.4rem #ffe711bd;
}

header .logo {
  font-weight: bold;
  color: white;
  text-shadow: 0.3rem 0.3rem 0.5rem #00000080;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 1rem;
}

header .logo span {
  color: #d2ff08;
}

header .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1em;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 0.5rem;
}

header a {
  padding: 0.4rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #ffe711bd;
}

header a:hover {
  color: #fffffd;
}

header .linkdirecto {
  display: none;
}

/* Banner principal */

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 42vh;
  background-image: linear-gradient(0deg, #00000080, #00000080),
    url("../assets/images/bannertop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: solid 0.3rem #ffe711bd;
}

#banner h1 {
  color: white;
  text-shadow: 0.3rem 0.3rem 0.5rem #00000080;
  font-size: 1.5rem;
  padding: 1rem;
}

#banner span {
  color: #d2ff08;
}

#banner button {
  font-size: 0.8rem;
}

/* Primera sección - Quienes somos? */

#quienes-somos {
  padding: 0.5rem;
  background-color: #39816b27;
}

#quienes-somos .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#quienes-somos .text {
  grid-area: 1 / 1 / 2 / 2;
  text-align: left;
  padding: 0.5rem;
}
#quienes-somos .video {
  grid-area: 2 / 1 / 3 / 2;
}

#quienes-somos h2 {
  text-align: center;
}

#quienes-somos .container .video iframe {
  border: solid 0.2rem #ffe711bd;
  width: 16rem;
  height: 10rem;
}

#quienes-somos ul {
  padding: 0.6rem 2rem;
}
#quienes-somos ul li {
  font-size: 1rem;
  list-style: disc;
}

/* galería sección */

#galeria {
  background-color: #c2c2c249;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#galeria .container {
  padding: 1.5rem;
  line-height: 1.5rem;
}

#galeria .text {
  flex-flow: column nowrap;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

#galeria .fotos {
  display: flex;
  flex-flow: column wrap;
}

#galeria img {
  width: 14rem;
  height: 14rem;
  border-radius: 1.2rem;
  margin: 0.2rem;
}

/* Tercera sección Ubicación y contacto */
#location {
  background-color: #39816b27;
  padding: 0.5rem;
}

#location .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0.5rem;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#location .imagen {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url("../assets/images/clip.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 10rem;
  width: 16rem;
}

#location .location-div {
  grid-area: 2 / 1 / 3 / 2;
}

/* mapa de ubicación */

#location .container .location-div iframe {
  width: 18rem;
  height: 12rem;
  border: solid 2px #667080;
}

#location h2 {
  text-align: center;
}

/* Pie de pagina y final */

#footer {
  background: #009688;
  border-top: solid 4px #ffe711bd;
}

#footer a {
  color: #fff;
}

#footer h3 {
  text-align: center;
  color: #ffffff;
  padding: 1rem;
}

#footer .container {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer .barra-subscriptions {
  border: solid 3px #ffe711bd;
  height: 2rem;
  width: 16rem;
  margin-bottom: 2rem;
}

#footer img {
  padding-right: 5px;
  padding-bottom: 20px;
  width: 48px;
}

#footer button {
  margin-bottom: 2rem;
  font-size: 1rem;
}

/* Botón flotante subir*/

.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #4caf50;
  padding: 18px 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotante:hover {
  background-color: #ffe711bd;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}
.rocketfloat {
  width: 1.4rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}

/* Pagina de eventos */

#eventos h2 {
  text-align: center;
  padding: 2rem;
}

#eventos .container {
  line-height: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: auto;
}

#eventos .container div:nth-child(odd) {
  background: #39816b27;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 1rem 0rem;
}

#eventos .container div:nth-child(even) {
  background: #c2c2c249;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

#eventos img {
  width: 16rem;
  border-radius: 1rem;
}

/* Pagina de cabañas */

#cabanas img {
  width: 14rem;
  height: 12rem;
  border-radius: 0.8rem;
}

#cabanas .container {
  line-height: 2rem;
  align-items: center;
  text-align: center;
}

#cabanas h2 {
  padding: 2rem;
}

#cabanas .equipamientos {
  display: grid;
  background-color: #39816b27;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 1rem;
  grid-template-areas:
    "equipamiento1"
    "texto1"
    "equipamiento2"
    "texto2"
    "equipamiento3"
    "texto3"
    "equipamiento4"
    "texto4"
    "equipamiento5"
    "texto5";

  grid-gap: 2rem;
}

.equipamiento1 {
  grid-area: equipamiento1;
}

.equipamiento2 {
  grid-area: equipamiento2;
}

.equipamiento3 {
  grid-area: equipamiento3;
}

.equipamiento4 {
  grid-area: equipamiento4;
}

.equipamiento5 {
  grid-area: equipamiento5;
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

.texto3 {
  grid-area: texto3;
}

.texto4 {
  grid-area: texto4;
}
.texto5 {
  grid-area: texto5;
}

/* Pagina de Entretención */

#entertainments h2 {
  text-align: center;
  padding: 2rem;
}

#entertainments .container {
  line-height: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#entertainments .container div:nth-child(odd) {
  background: #39816b27;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 1rem 0rem;
}

#entertainments .container div:nth-child(even) {
  background: #c2c2c249;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

#entertainments img {
  width: 16rem;
  height: 12rem;
  border-radius: 1rem;
}

/* Pagina de registro */

#register .container {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  margin: auto;
}

#register .container form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#register .container button {
  width: 16rem;
}

/* Empiezan los Media por resolución */

@media screen and (min-width: 375px) {
  /* Tercera sección Ubicación y contacto */

  #location .container .location-div iframe {
    width: 20rem;
    height: 12rem;
    border: solid 2px #667080;
  }

  #location h2 {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  #quienes-somos .container .video iframe {
    border: solid 0.2rem #ffe711bd;
    width: 26rem;
    height: 14rem;
  }

  /* galería sección */

  #galeria img {
    width: 24rem;
    height: 18rem;
    border-radius: 1.2rem;
    margin: 0.2rem;
  }

  /* Tercera sección Ubicación y contacto */

  #location .container .location-div iframe {
    width: 26rem;
    height: 16rem;
    border: solid 2px #667080;
  }

  /* Pagina de cabañas */

  #cabanas img {
    width: 18rem;
    height: 16rem;
    border-radius: 0.8rem;
  }

  #cabanas .container {
    line-height: 2rem;
    align-items: center;
    text-align: center;
  }

  #cabanas h2 {
    padding: 2rem;
  }
}

@media screen and (min-width: 768px) {
  /* logo y menu */

  header {
    z-index: 10;
    position: sticky;
    top: 0px;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }
  header .nav .reg {
    padding: 0.5rem;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  header .nav .reg:hover {
    background-color: #ffe711bd;
    color: white;
  }

  header a {
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: #ffe711bd;
  }

  header .logo {
    transition: transform 300ms ease-in-out;
    font-size: 1.4rem;
  }
  .logo:hover {
    transform: translate(0px, 0px) scale(1.3, 1.3);
  }

  /* Banner principal */
  #banner {
    height: 30vh;
  }

  #banner h1 {
    font-size: 1.5rem;
    animation: texto1 1s ease-in-out 0s 1 normal;
  }

  @keyframes texto1 {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Primera sección - Quienes somos? */

  #quienes-somos {
    background-color: #39816b27;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }

  /* Pagina de eventos */

  #eventos img {
    width: 20rem;
    height: 14rem;
    border-radius: 1rem;
  }

  #eventos p {
    font-size: 1.2rem;
    margin: 0rem 5rem;
  }

  /* Pagina de cabañas */

  #cabanas img {
    width: 20rem;
    height: 14rem;
    border-radius: 1rem;
  }

  #cabanas p {
    font-size: 1.2rem;
    margin: 0rem 5rem;
  }

  #cabanas .container {
    line-height: 2rem;
    align-items: center;
    text-align: center;
  }

  #cabanas h2 {
    padding: 2rem;
  }

  /* Pagina de Entretención */

  #entertainments h2 {
    text-align: center;
    padding: 2rem;
  }

  #entertainments img {
    width: 20rem;
    height: 14rem;
    border-radius: 1rem;
  }

  #entertainments p {
    font-size: 1.2rem;
    margin: 0rem 5rem;
  }
}

@media screen and (min-width: 1024px) {
  /* logo y menu */

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .nav {
    flex-direction: row;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header .logo {
    font-size: 2rem;
  }
  header .nav .reg {
    padding: 0.8rem;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  header .nav .reg:hover {
    background-color: #ffe711bd;
    color: white;
  }

  /* Banner principal */

  #banner {
    height: 30vh;
  }

  #banner h1 {
    color: white;
    text-shadow: 0.3rem 0.3rem 0.5rem #00000080;
    font-size: 2.5rem;
    padding: 1rem;
  }

  #banner button {
    font-size: 1rem;
  }

  #quienes-somos .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #quienes-somos .text {
    grid-area: 1 / 1 / 2 / 2;
  }
  #quienes-somos .video {
    grid-area: 1 / 2 / 2 / 3;
  }

  #quienes-somos .container .video iframe {
    border: solid 0.2rem #ffe711bd;
    width: 24rem;
    height: 14rem;
    animation: video1 1s ease-in-out 0s 1 normal;
  }

  @keyframes video1 {
    0% {
      transform: scaleX(0.4);
      transform-origin: 100% 100%;
    }

    100% {
      transform: scaleX(1);
      transform-origin: 100% 100%;
    }
  }

  /* galería sección */

  #galeria .container {
    padding: 4rem;
    line-height: 1.5rem;
  }

  #galeria .text {
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }

  #galeria .fotos {
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }

  #galeria img {
    width: 20rem;
    height: 14rem;
    border-radius: 1.2rem;
    margin: 0.2rem;
    transition: transform 300ms ease-in-out;
  }

  #galeria img:hover {
    transform: translate(0px, 0px) scale(1.8, 1.8);
  }

  /* Tercera sección Ubicación y contacto */

  #location .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0rem;
    grid-row-gap: 0px;
    padding: 2rem;
    line-height: 1.5rem;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #location .imagen {
    grid-area: 1 / 1 / 2 / 2;
  }
  #location .location-div {
    grid-area: 1 / 2 / 2 / 3;
  }

  #location {
    background-color: #39816b27;
  }

  #location h2 {
    text-align: center;
  }

  #location .imagen {
    background-image: url("../assets/images/clip.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 18rem;
    height: 12rem;
  }
  /* mapa de ubicación */

  #location .container .location-div iframe {
    width: 35rem;
    height: 15rem;
    border: solid 2px #667080;
  }
  /* Pagina de eventos */

  #eventos img {
    width: 24rem;
    height: 18rem;
    border-radius: 1rem;
  }

  #eventos p {
    font-size: 1.2rem;
    margin: 0rem 15rem;
  }

  #eventos h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  /* Pagina de cabañas */

  #cabanas img {
    width: 24rem;
    height: 18rem;
    border-radius: 0.8rem;
  }

  #cabanas .container {
    line-height: 2rem;
    align-items: center;
    text-align: center;
  }

  #cabanas h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }

  #cabanas p {
    font-size: 1.2rem;
    margin: 0rem 3rem;
  }
  /* Pagina de Entretención */

  #entertainments h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }

  #entertainments .container img {
    width: 24rem;
    height: 18rem;
    border-radius: 1rem;
  }

  #entertainments p {
    font-size: 1.2rem;
    margin: 0rem 15rem;
  }

  @media screen and (min-width: 1440px) {
    /* Banner principal */

    #banner {
      height: 90vh;
    }

    #banner h1 {
      color: white;
      text-shadow: 0.3rem 0.3rem 0.5rem #00000080;
      font-size: 3.5rem;
      padding: 1rem;
    }

    #banner button {
      font-size: 1.8rem;
    }

    header .linkdirecto {
      display: inline;
    }

    #location .container .location-div iframe {
      width: 45rem;
      height: 15rem;
      border: solid 2px #667080;
    }

    #cabanas h2 {
      font-size: 1.8rem;
    }

    #cabanas p {
      font-size: 1.2rem;
    }

    #cabanas .equipamientos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0rem;
      grid-row-gap: 0rem;
      background-color: #39816b27;
      align-content: center;
      align-items: center;
      justify-items: center;
      justify-content: center;
      padding: 4rem;
    }

    .equipamiento1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .texto1 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .texto2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .equipamiento2 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .equipamiento3 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .texto3 {
      grid-area: 3 / 2 / 4 / 3;
    }
    .texto4 {
      grid-area: 4 / 1 / 5 / 2;
    }
    .equipamiento4 {
      grid-area: 4 / 2 / 5 / 3;
    }
    .equipamiento5 {
      grid-area: 5 / 1 / 6 / 2;
    }
    .texto5 {
      grid-area: 5 / 2 / 6 / 3;
    }
  }
}
